html {
	font-size: 16px;
}

body {
	background: $yellow;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	color: $darkGray;
	position: relative;
}

header.minify nav {
	background: rgba(76,76,76,0.75);

	.navbar-header .navbar-brand {
		width: 90px;
		box-shadow: 0px 0px 1px 0px #777;

		h1 {
			position: absolute;
			opacity: 0;
			font-size: 0.9rem;
		}
	}
}

header {
	.navbar-default {
		background: transparent;
		border: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.navbar {
		padding: 10px 0;

		.navbar-header {
			.navbar-brand {
				position: absolute;
				top: 0;
				background: $yellow;
				height: auto;
				width: 120px;
				margin-left: 0;
				padding: 22px 15px 15px 18px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				h1 {
					color: #575756;
				    display: inline-block;
				    font-size: 1.4rem;
				    font-weight: 500;
				    margin: -5px 0 0;
				    opacity: 1;
				    text-transform: uppercase;
				    -webkit-transition: all 0.4s ease;
					-moz-transition: all 0.4s ease;
					-ms-transition: all 0.4s ease;
					-o-transition: all 0.4s ease;
					transition: all 0.4s ease;
				}
			}
		}
		.menu {
			margin-bottom: 0;
			padding: 15px 0;
			margin-right: 0;

			li {
				display: inline-block;
				a {
					margin-left: 20px;
					color: #ffffff;
					padding: 0;

					&:hover {
						border-bottom: 2px solid #fff;
						background: transparent;
					}

					&:focus {
						background: transparent;
					}

				}

				&.active {
					a {
						border-bottom: 2px solid #fff;
					}
				}
			}
		}
	}
}

// Section: Hero
.hero {
    padding-bottom: 120px;
    background-color: $blue2;
    height: auto;
    position: relative;

    h1 {
    	color: #ffffff;
	    font-size: 0.8rem;
	    font-weight: 400;
	    line-height: 140%;
	    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);	 
	    margin-left: 145px;
    	margin-top: 70px;

	    strong {
	    	font-weight: 500;
	    }
    }

	.main-img {
		margin-top: 140px;
	}

    .main-mse {
    	background: $blue4 none repeat scroll 0 0;
    	border-radius: 18px;
    	box-shadow: 1px 1px $blue1, 
    				2px 2px $blue1, 
    				3px 3px $blue1, 
    				5px 5px $blue1, 
    				6px 6px $blue1,
    				7px 7px $blue1,
    				8px 8px $blue1,
    				9px 9px $blue1,
    				10px 10px $blue1,
    				11px 11px $blue1,
    				12px 12px $blue1,
    				13px 13px $blue1,
    				15px 15px $blue1,
    				16px 16px $blue1,
    				17px 17px $blue1,
    				18px 18px $blue1,
    				19px 19px $blue1,
    				20px 20px $blue1,
    				21px 21px $blue1,
    				22px 22px $blue1,
    				23px 23px $blue1,
    				24px 24px $blue1,
    				25px 25px $blue1,
    				26px 26px $blue1,
    				27px 27px $blue1,
    				28px 28px $blue1,
    				29px 29px $blue1,
    				30px 30px $blue1,
    				31px 31px $blue1,
    				32px 32px $blue1,
    				33px 33px $blue1,
    				34px 34px $blue1,
    				35px 35px $blue1,
    				36px 36px $blue1,
    				37px 37px $blue1,
    				38px 38px $blue1,
    				39px 39px $blue1,
    				40px 40px $blue1,
    				41px 41px $blue1,
    				42px 42px $blue1,
    				43px 43px $blue1,
    				44px 44px $blue1,
    				45px 45px $blue1,
    				46px 46px $blue1,
    				47px 47px $blue1,
    				48px 48px $blue1,
    				49px 49px $blue1,
    				50px 50px $blue1,
    				51px 51px $blue1,
    				52px 52px $blue1,
    				53px 53px $blue1,
    				54px 54px $blue1,
    				55px 55px $blue1,
    				56px 56px $blue1,
    				57px 57px $blue1,
    				58px 58px $blue1,
    				59px 59px $blue1,
    				60px 60px $blue1
    				;
	    color: white;
	    padding: 50px 60px;
	    position: relative;
	    // top: 80px;

	    &:before {
		    border-right: 135px solid #456a77;
		    border-top: 90px solid transparent;
		    content: "";
		    height: 0;
		    margin: 75px 0 0 -180px;
		    position: absolute;
		    width: 0;
		}

	    h2 {
	    	font-size: 3.4rem;
			margin-bottom: 20px;
	    }

	    h4 {
			font-size: 21px;
			font-weight: 400;
			line-height: 2rem;
	    }

	    .btn-main {
	    	margin-top: 30px;
	    }
    }
}



// Section: About Us
.aboutUs {
	text-align: center;
	padding: 75px 0;

	h2 {
		margin-bottom: 1.4rem;
	}

	h4 {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.8rem;

		strong {
			font-weight: 500;
		}
	}
} 

// Services...
.services {
	background: $blue4;
	padding: 75px 0 0 0;

	// h2 {
	// 	font-weight: 400;
	// 	color: #ffffff;
	// 	margin-bottom: 5rem;

	// 	span {
	// 		display: block;
	// 		font-weight: 500;
	// 	}
	// }

	// .idntVisual:before {
	// 	content: url('../../img/img-identidad.svg');
	// }

	// .dsnWeb:before {
	// 	content: url('../../img/img-web.svg');
	// 	position: absolute;
	// 		top: -35px;
	// 		right: 35px;
	// }

	// .dsnEditorial:before {
	// 	content: url('../../img/img-editorial.svg');
	// }
	
	.services-icon {
		display: block;
	    margin: 0 auto -110px;
	    width: 65%;
	}

	.service-wrap {
		background: $blue3;
		padding: 140px 30px 30px;
		color: #FFFFFF;
		text-align: center;

		// &:before {
		// 	position: absolute;
		// 	top: -35px;
		// 	right: 35px;
		// }

		h2 {
			font-size: 1.6rem;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 2rem;
			font-weight: 500;
			line-height: 1.8rem;
		}

		p {
			font-size: 1rem;
			font-weight: 400;
			line-height: 130%;
			margin-bottom: 50px;
		}

		ul {
			padding-left: 15px;
			text-align: left;
			margin-left: 25px;
			margin-bottom: 30px;

			li {
				margin-bottom: 10px;
			}
		}
	}

	.quickContact {
		padding: 95px 0 20px;
		overflow: hidden;

		h2 {
			display: inline-block;
			margin: 0 40px 0 0;
			vertical-align: middle;
		}
	}
}

// Our Work...
.ourWork {
	background: #ffffff;
	padding: 75px 0;

	h2 {
		color: $darkGray;
		text-transform: uppercase;
		margin-bottom: 60px;
	}

	.gridWorks {
		margin-bottom: 30px;
    	overflow: hidden;
		
		img {
			width: 100%;
		}

		.workTitle {
			font-size: 1rem;
			color: $darkGray;
			text-transform: uppercase;
			margin-top: 10px;
			display: inline-block;
			margin-bottom: 5px;
		}

		ul {
			padding: 0;

			li {
				display: inline-block;
			    font-size: 12px;
			    line-height: normal;
			    padding: 2px 6px;
			    color: #ffffff;
			    margin-right: 3px;

			    &:last-child { 
			    	margin-right: 0;
			    }	

			    &.tagIdentidad { background: $red; }
			    &.tagWeb { background: $blue; }
			    &.tagEditorial { background: $violet; }

			}
		}
	}
}

// Testimonials...

.testimonials {
	padding: 75px 0;

	.slick-slider {
		margin: 0 auto;
		width: 70%;
		min-height: 300px;

		.slick-arrow {
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			color: $darkGray;
		    cursor: pointer;
		    font-size: 40px;
		    padding: 10px;
		    position: absolute;
		    top: 30%;
		    opacity: 0.4;


		    &:hover {
		    	opacity: 1;
		    }
		}

		.slick-prev {
			left: -50px;
		}
		.slick-next {
			right: -50px;
			left: auto;
		}


		.slick-slide {

			blockquote {
				margin: 1.5em 10px;
				padding: 0.5em 10px;
				quotes: "\201C""\201D";
				border: 0;
				text-align: center;
				font-style: italic;
			
				&:before {
				  content: open-quote;
				  font-size: 4em;
				  line-height: 0.1em;
				  // margin-right: 0.25em;
				  vertical-align: -0.4em;
				}

				p {
					display: inline;
				}

				hr {
					width: 50%;
					margin: 30px auto;
					border-color: $darkGray;
				}

				span {
					font-style: normal;
					font-weight: 500;
					display: block;
					text-align: center;
				}

				small {
					text-align: center;	
					font-style: normal;
					color: $darkGray;
					font-size: 12px;			

					&:before {
						content: "";
					}
				}
			}
		}
	}
}

// Footer...

footer {
	background: #444;
	padding: 75px 0;

	.contact {
		form {
			label {
				color: #ffffff;
				display: block;
			}
		}
	}
}



