html {
	font-size: 16px;
}

body {
	background: $yellow;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	color: $darkGray;
	position: relative;
}

header.minify nav {
	// background: rgba(76,76,76,0.75);
	background: $blue3;

	.navbar-header .navbar-brand {
		width: 90px;
		box-shadow: 0px 0px 1px 0px #777;

		h1 {
			position: absolute;
			opacity: 0;
			font-size: 0.9rem;
		}
	}
}

header {
	.navbar-default {
		background: transparent;
		border: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.navbar {
		padding: 10px 0;

		.navbar-header {
			.navbar-brand {
				position: absolute;
				top: 0;
				background: $yellow;
				height: auto;
				width: 120px;
				margin-left: 0;
				padding: 22px 15px 15px 18px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				h1 {
					color: #575756;
				    display: inline-block;
				    font-size: 1.4rem;
				    font-weight: 500;
				    margin: -5px 0 0;
				    opacity: 1;
				    text-transform: uppercase;
				    -webkit-transition: all 0.4s ease;
					-moz-transition: all 0.4s ease;
					-ms-transition: all 0.4s ease;
					-o-transition: all 0.4s ease;
					transition: all 0.4s ease;
				}
			}
		}
		.menu {
			margin-bottom: 0;
			padding: 15px 0;
			margin-right: 0;

			li {
				display: inline-block;

				a {
					margin-left: 20px;
					color: #ffffff;
					padding: 0;

					&:hover {
						border-bottom: 2px solid #fff;
						background: transparent;
					}

					&:focus {
						background: transparent;
					}

				}

				&.active {
					a {
						border-bottom: 2px solid #fff;
					}
				}
			}

			.social-icon {
				margin-left: 15px;
				i {
					color: #FFFFFF;
					font-size: 22px;
					-webkit-transition: all 0.4s ease;
					-moz-transition: all 0.4s ease;
					-ms-transition: all 0.4s ease;
					-o-transition: all 0.4s ease;
					transition: all 0.4s ease;
				}

				&:hover {
					i {
						opacity: 0.7;
					}
				}
			}
		}
	}
}

// Section: Hero
.hero {
    padding-bottom: 120px;
    background-color: $blue4;
    height: auto;
    position: relative;

    h1 {
    	color: #ffffff;
	    font-size: 0.8rem;
	    font-weight: 400;
	    line-height: 140%;
	    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);	 
	    margin-left: 145px;
    	margin-top: 70px;

	    strong {
	    	font-weight: 500;
	    }
    }

	.main-img {
		margin-top: 140px;
	}

    .main-mse {
    	background: $blue5 none repeat scroll 0 0;
    	border-radius: 18px;
    	box-shadow: 1px 1px $blue3, 
    				2px 2px $blue3, 
    				3px 3px $blue3, 
    				5px 5px $blue3, 
    				6px 6px $blue3,
    				7px 7px $blue3,
    				8px 8px $blue3,
    				9px 9px $blue3,
    				10px 10px $blue3,
    				11px 11px $blue3,
    				12px 12px $blue3,
    				13px 13px $blue3,
    				15px 15px $blue3,
    				16px 16px $blue3,
    				17px 17px $blue3,
    				18px 18px $blue3,
    				19px 19px $blue3,
    				20px 20px $blue3,
    				21px 21px $blue3,
    				22px 22px $blue3,
    				23px 23px $blue3,
    				24px 24px $blue3,
    				25px 25px $blue3,
    				26px 26px $blue3,
    				27px 27px $blue3,
    				28px 28px $blue3,
    				29px 29px $blue3,
    				30px 30px $blue3,
    				31px 31px $blue3,
    				32px 32px $blue3,
    				33px 33px $blue3,
    				34px 34px $blue3,
    				35px 35px $blue3,
    				36px 36px $blue3,
    				37px 37px $blue3,
    				38px 38px $blue3,
    				39px 39px $blue3,
    				40px 40px $blue3,
    				41px 41px $blue3,
    				42px 42px $blue3,
    				43px 43px $blue3,
    				44px 44px $blue3,
    				45px 45px $blue3,
    				46px 46px $blue3,
    				47px 47px $blue3,
    				48px 48px $blue3,
    				49px 49px $blue3,
    				50px 50px $blue3,
    				51px 51px $blue3,
    				52px 52px $blue3,
    				53px 53px $blue3,
    				54px 54px $blue3,
    				55px 55px $blue3,
    				56px 56px $blue3,
    				57px 57px $blue3,
    				58px 58px $blue3,
    				59px 59px $blue3,
    				60px 60px $blue3
    				;
	    color: white;
	    padding: 50px 60px;
	    position: relative;
	    // top: 80px;

	    &:before {
		    border-right: 135px solid $blue5;
		    border-top: 90px solid transparent;
		    content: "";
		    height: 0;
		    margin: 75px 0 0 -180px;
		    position: absolute;
		    width: 0;
		}

	    h2 {
	    	font-size: 3.4rem;
			margin-bottom: 20px;
	    }

	    h4 {
			font-size: 21px;
			font-weight: 400;
			line-height: 2rem;
	    }

	    .btn-main {
	    	margin-top: 30px;
	    }
    }
}



// Section: About Us
.aboutUs {
	text-align: center;
	padding: 75px 0;

	h2 {
		margin-bottom: 1.4rem;
	}

	h4 {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.8rem;

		strong {
			font-weight: 500;
		}
	}
} 

// Services...
.services {
	background: $green1;
	padding: 75px 0;
	
	.services-icon {
		display: block;
	    margin: 0 auto -110px;
	    width: 65%;
	}

	.service-wrap {
		background: $green2;
		padding: 140px 30px 30px;
		color: #FFFFFF;
		text-align: center;

		h2 {
			font-size: 1.6rem;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 2rem;
			font-weight: 500;
			line-height: 1.8rem;
		}

		p {
			font-size: 1rem;
			font-weight: 400;
			line-height: 130%;
			margin-bottom: 50px;
		}

		ul {
			text-align: left;
			margin-bottom: 30px;

			li {
				padding: 15px 0 15px 15px;
				border-top: 1px solid #709380;
				list-style: none;
				position: relative;

				&:before {
					content: "●";
					left: 0;
					position: absolute;
				}
			}
		}
	}

	.quickContact {
		padding: 95px 0 20px;
		overflow: hidden;

		h2 {
			display: inline-block;
			margin: 0 40px 0 0;
			vertical-align: middle;
		}
	}
}

// Our Work...
.ourWork {
	background: #ffffff;
	padding: 75px 0;

	h2 {
		color: $blue4;
		margin-bottom: 45px;
	}

	#elastic_grid {
		.og-grid li a figure {
			background: $blue4;

			span {
				margin-top: 0;
				border-bottom: none;
				text-align: center;
			    position: relative;
			    top: 50%;
			    -ms-transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
			}
		}

		.og-expanded {
			.og-pointer {
				margin-top: -10px;
			}
			
			.og-expander {
				// h3 {
				// 	font-size: 28px;
				// }

				.og-expander-inner {

					.og-fullimg {
						// width: 70%;

						img {
							box-shadow: 0 5px 35px rgba(0,0,0,.65);
						}
					}

					.og-details {
						// width: 30%;

						.infosep {
							display: none;
						}

						.elastislide-wrapper {
							box-shadow: none;
							margin-top: 30px;
						}
					}
				}
			}	
		}
	}
}

// Logos...
.logos {
	background: $beige url("../../img/ambientes.svg") no-repeat scroll center bottom / contain;
    padding: 75px 0 225px;
    text-align: center;

	h2 {
		color: $blue4;
		margin-bottom: 1.4rem;
	}

	h4 {
		color: $blue4;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.8rem;

		strong {
			font-weight: 500;
		}
	}

	.logos-wrap {
		margin-top: 60px;
		display: inline-block;

		img {
			width: 100%;
		}
	}
}

// Testimonials...

.testimonials {
	padding: 75px 0;
	background: url("../../img/ambientes-sombra.svg") transparent no-repeat scroll center top / contain ;

	h2 {
		margin-bottom: 1.4rem;
	}

	.slick-slider {
		margin: 0 auto;
		min-height: 300px;

		.slick-arrow {
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			// color: $darkGray;
			color: #E9B400;
		    cursor: pointer;
		    font-size: 90px;
		    padding: 10px;
		    position: absolute;
		    top: 10%;
		    opacity: 1;


		    &:hover {
		    	opacity: 0.4;
		    }
		}

		.slick-prev {
			left: -140px;
		}
		.slick-next {
			right: -140px;
			left: auto;
		}


		.slick-slide {

			blockquote {
				margin: 1.5em 10px;
				padding: 0.5em 10px;
				quotes: "\201C""\201D";
				border: 0;
				text-align: center;
				font-style: italic;
			
				&:before {
				  content: open-quote;
				  font-size: 4em;
				  line-height: 0.1em;
				  vertical-align: -0.4em;
				}

				p {
					display: inline;
				}

				hr {
					width: 50%;
					margin: 30px auto;
					border-color: $darkGray;
				}

				span {
					font-style: normal;
					font-weight: 500;
					display: block;
					text-align: center;
				}

				small {
					text-align: center;	
					font-style: normal;
					color: $darkGray;
					font-size: 12px;			

					&:before {
						content: "";
					}
				}
			}
		}
	}
}

// Footer...

footer {
	background: url("../../img/mano-idea.svg") $blue2 no-repeat scroll right 265px;
	padding: 75px 0 0 0;
	color: $blue7;

	h2 {
		margin-bottom: 4rem;
	}

	.contact {
		form {
			label {
				font-weight: 400;
			}

			.form-control {
				border: none;
				box-shadow: none;
				background-color: $blue3;
				color: #FFFFFF;
				border-radius: 3px;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;

				&:focus {
				    background: $blue4 none repeat scroll 0 0 !important;
				    outline: 0 none;
				}
			}

			.btn-main {
				margin-top: 15px;
			}
		}
	}

	.has-error .help-block, 
	.has-error .control-label, 
	.has-error .radio, 
	.has-error .checkbox, 
	.has-error .radio-inline, 
	.has-error .checkbox-inline, 
	.has-error.radio label, 
	.has-error.checkbox label, 
	.has-error.radio-inline label, 
	.has-error.checkbox-inline label {
		color: $darkRed;
	}

	.has-error .form-control {
	    &:focus {
	    	box-shadow: none !important;
	    }
	}

	.successMsg {
		background: #dff0d8 none repeat scroll 0 0;
	    border-color: #d0e9c6;
	    border-radius: 5px;
	    color: #3c763d;
	    margin-bottom: 30px;
	    padding: 15px;
	}

	.errorMsg {
	    background: #f2dede none repeat scroll 0 0;
	    border-color: #ebcccc;
	    border-radius: 5px;
	    color: #a94442;
	    margin-bottom: 30px;
	    padding: 15px;
	}

	.social-foo {
		padding-left: 60px;

		ul {
			li {
				list-style: none;
				display: inline-block;
				margin-right: 14px;

				.social-icon {
					i {
						font-size: 30px;
						color: $blue7;
						-webkit-transition: all 0.4s ease;
						-moz-transition: all 0.4s ease;
						-ms-transition: all 0.4s ease;
						-o-transition: all 0.4s ease;
						transition: all 0.4s ease;
					}

					&:hover {
						i {
							opacity: 0.7;
						}	
					}
				}
			}
		}

		.contact-info {
			margin: 22px 0 47px 0;
			img {
				display: block;
				margin-bottom: 15px;
			}

			a {
				color: $blue7;
				text-decoration: underline;
				display: inline-block;
				margin-bottom: 10px;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.phrase-section {
		overflow: hidden;
		margin-top: 12px;
		h4 {
			color: #EFEFEF;
			font-style: italic;
			text-align: center;
			font-weight: 400;
		}
	}

	.black-bottom {
		background-color: $blue1;
		margin-top: 75px;
		color: #FFFFFF;
		padding: 15px 0;

		p {
			font-size: 12px;
			opacity: 0.8;
			margin: 0;

			.tcolor {
				color: $yellow;
				margin-left: 1px;
			}
		}
	}
}



