// Colors...
$yellow: #FFCC00;

$blue1: #2A4D59;
$blue2: #315565;
$blue3: #345760;
$blue4: #456A77;

$gray: #636363;
$darkGray: #4C4C4C;

$darkRed: #B75023;

$red: #CC6666;
$blue: #008DA5;
$violet: #695890;

// Fonts...

h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.4rem;
	margin: 0;
}

.btn-main {
	background: $darkRed;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 0.65em 2em;
	font-size: 1rem;
	color: #FFFFFF;
	font-weight: 400;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;

	&:hover {
		text-decoration: none;
		color: #ffffff;
		background: transparent;
		border: 2px solid #ffffff;
	}
}
